@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Acme');

nav ul a,
nav .brand-logo {
  color: #444;
}

.myalertborder{
  border: 1px solid rgb(255, 196, 0);
  font-weight: bold;
  font-size:12px;
  background-color:rgb(255, 196, 0, .4);
}

nav{
  position: fixed;
  z-index: 9999;
  opacity: 0.8;
  background-color:#34495e;
}
#mobila a{
  color: black;
}
#myround{
  border-radius:50%;
}

.myBlue{
  color: #20278d;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #20278d;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*cool title*/
.logo {
  margin-top:10%;
  font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #282828;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}

img.responsive-img, video.responsive-video{
  max-height:247px;
  height:190px;
}

img#mychild{
  width:180px;
  max-width:360px;
}

.icon-block{
  -webkit-box-shadow: 10px 22px 29px -5px rgba(0,0,0,0.73);
-moz-box-shadow: 10px 22px 29px -5px rgba(0,0,0,0.73);
box-shadow: 10px 22px 29px -5px rgba(0,0,0,0.73);
}

.circle{
  border-radius: 25%;
  margin-top:3%;
}

/* stuff for 1st word */
.logo .word1 {
  color: #20278d;
  margin-right: -16px;
  transform: rotateY(340deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
  top:8px;
}
.logo .word1:before {
  right: -4px;/* would be left, but we flipped the word */
  top: -9px;
  border-top-color: #282828;/* match background color */
  border-right-color: #282828;
  transition: .3s;/* would be left, but we flipped the word */
}
.logo .word1:after {
  left: -17px;/* would be right, but we flipped the word */
  bottom: -22px;
  border-bottom-color: #282828;
  border-left-color: #282828;
  transition: .3s;/* would be right, but we flipped the word */
}

/* stuff for 2nd word */
.logo .word2 {
  z-index: 0;/* stack 2nd word below */
}
.logo .word2:before {
  left: -4px;
  top: -1px;
  border-top-color: #282828;
  border-left-color: #282828;
  transition: .3s;
}
.logo .word2:after {
  right: -30px;  
  bottom: -31px;
  border-bottom-color: #282828;
  border-right-color: #282828;
  transition: .3s;
}
#mycooltitle{
  display: flex;
  justify-content: center;
  align-content: center;
  height:50px;
  max-width:100%;
  margin-bottom:20%;
  

}

/* MOBILES */
@media (min-width: 768px) and (max-width: 1024px) {
  
  .row .col.s3{width:100%;}
  .word1::after{opacity: 0;  transition: .3s;}
  .word2::after{opacity: 0;  transition: .3s;}

  .word1::before{opacity: 0;transition: .3s;}
  .word2::before{opacity: 0;transition: .3s;}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .row .col.s3{width:100%;}
  .word1::after{opacity: 0;  transition: .3s;}
  .word2::after{opacity: 0;  transition: .3s;}

  .word1::before{opacity: 0;transition: .3s;}
  .word2::before{opacity: 0;transition: .3s;}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .row .col.s3{width:100%;}
  .word1::after{opacity: 0;  transition: .3s;}
  .word2::after{opacity: 0;  transition: .3s;}

  .word1::before{opacity: 0;transition: .3s;}
  .word2::before{opacity: 0;transition: .3s;}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .row .col.s3{width:100%;}
  .word1::after{opacity: 0;  transition: .3s;}
  .word2::after{opacity: 0;  transition: .3s;}

  .word1::before{opacity: 0;transition: .3s;}
  .word2::before{opacity: 0;transition: .3s;}
}
.header{
  position: relative;
  margin-bottom:5%;
}
.mycoolafter{
  content:"";
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  color:blue;
  height:5px;
}
body:-webkit-full-page-media{
  background-color: rgba(255,255,255,0);
}
/*More button*/
.myButton {
	box-shadow: 0px 3px 13px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  padding:6px 24px;
  margin-bottom:5%;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}


#agropensiuneheader{
    font-family: Aclonica, sans-serif;
    text-decoration: underline;
    text-decoration-style: wavy;
    font-variant: small-caps;
    text-align: center;
    font-size: 41px;
    letter-spacing: 6px;
    word-spacing: -3px;
    color: rgb(61, 137, 225);
    background-color: rgb(84, 84, 84, .1);
    text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}
#atelier{
    margin-bottom:5%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(197, 30, 0);
    background-color:rgba(94, 91, 91, 0.13)


}