@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Acme');


html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;

  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  
  background-repeat: no-repeat;
  background-attachment: fixed;
}





nav ul a,
nav .brand-logo {
  color: #444;
}

.myalertborder{
  border: 1px solid rgb(255, 196, 0);
  font-weight: bold;
  font-size:12px;
  background-color:rgb(255, 196, 0, .4);
}

nav{
  position: fixed;
  z-index: 9999;
  opacity: 0.8;
  background-color:#34495e;
}
#mobila a{
  color: black;
}
#myround{
  border-radius:50%;
}

.myBlue{
  color: #20278d;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #20278d;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  background-color: rgba(255,255,255,.3);
  border: .5px solid rgb(63, 62, 62, .2);
  border-radius:20px;
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*cool title*/
.logo {
  margin-top:10%;
  font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #282828;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}

img.responsive-img, video.responsive-video{
  max-height:247px;
  height:190px;
}

img#mychild{
  width:180px;
  max-width:360px;
}


.circle{
  border-radius: 25%;
  margin-top:3%;
}

/* stuff for 1st word */
.logo .word1 {
  color: #20278d;
  margin-right: -16px;
  transform: rotateY(340deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
  top:8px;
}
.logo .word1:before {
  right: -4px;/* would be left, but we flipped the word */
  top: -9px;
  border-top-color: #282828;/* match background color */
  border-right-color: #282828;
  transition: .3s;/* would be left, but we flipped the word */
}
.logo .word1:after {
  left: -17px;/* would be right, but we flipped the word */
  bottom: -22px;
  border-bottom-color: #282828;
  border-left-color: #282828;
  transition: .3s;/* would be right, but we flipped the word */
}

/* stuff for 2nd word */
.logo .word2 {
  z-index: 0;/* stack 2nd word below */
}
.logo .word2:before {
  left: -4px;
  top: -1px;
  border-top-color: #282828;
  border-left-color: #282828;
  transition: .3s;
}
.logo .word2:after {
  right: -30px;  
  bottom: -31px;
  border-bottom-color: #282828;
  border-right-color: #282828;
  transition: .3s;
}
#mycooltitle{
  display: flex;
  justify-content: center;
  align-content: center;
  height:50px;
  max-width:100%;
  margin-bottom:20%;
  

}
.slider .indicators{margin:-5px;}


@media (min-width: 1023px) and (max-width:1263px){
  img#mychild{
    width:148px;
  }
}


/* MOBILES */
@media (min-width: 768px) and (max-width: 1024px) {

  
  .row .col.s3{width:100%; margin-top:15%;}
  .slider .indicators{margin:-15px;}
  .word1::after{opacity: 0;  transition: .3s;}
  .word2::after{opacity: 0;  transition: .3s;}

  .word1::before{opacity: 0;transition: .3s;}
  .word2::before{opacity: 0;transition: .3s;}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  .row .col.s3{width:100%; margin-top:15%;}
  .slider .indicators{margin:-15px;}
  .word1::after{opacity: 0;  transition: .3s;}
  .word2::after{opacity: 0;  transition: .3s;}

  .word1::before{opacity: 0;transition: .3s;}
  .word2::before{opacity: 0;transition: .3s;}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .row .col.s3{width:100%; margin-top:15%;}
  .slider .indicators{margin:-15px;}
  .word1::after{opacity: 0;  transition: .3s;}
  .word2::after{opacity: 0;  transition: .3s;}

  .word1::before{opacity: 0;transition: .3s;}
  .word2::before{opacity: 0;transition: .3s;}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .row .col.s3{width:100%; margin-top:15%;}
  .slider .indicators{margin:-15px;}
  .word1::after{opacity: 0;  transition: .3s;}
  .word2::after{opacity: 0;  transition: .3s;}

  .word1::before{opacity: 0;transition: .3s;}
  .word2::before{opacity: 0;transition: .3s;}

}
.header{
  position: relative;
  margin-bottom:5%;
}
.mycoolafter{
  content:"";
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  color:blue;
  height:5px;
}
body:-webkit-full-page-media{
  background-color: rgba(255,255,255,0);
}
/*More button*/
.myButton {
	box-shadow: 0px 3px 13px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  padding:6px 24px;
  margin-bottom:5%;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}


#agropensiuneheader{
    font-variant: small-caps;
    text-align: center;
    font-size: 41px;
    color: rgb(61, 137, 225);
    background-color: rgb(84, 84, 84, .1);

}
#atelier{
    margin-bottom:5%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(197, 30, 0);
    background-color:rgba(94, 91, 91, 0.13)
}

.mygrey{
  background-color:#535c68;
}


html, body {
  height: 100%;
}
.nav-wrapper{
  opacity:1;
}
.pin-top {
  position: relative;
}


.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

#gohala {font-size:1.5rem;}


/*coolFade*/



.sibling-fade > * {
  text-align: center;

}



.sibling-fade { visibility: hidden; }


.sibling-fade > * { visibility: visible; }


.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }


.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }


.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }


/*Back2top*/
#button {
  display: inline-block;
  background-color: rgb(145, 145, 145,0.5);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

